* {
    font-family: 'Roboto', sans-serif;
}

.top {
    margin-top: 20px;
}

.header1 {
    margin-top: 10px;
    padding: 10px;
    border-radius: 45%;
}

#name-label,
#email-label,
#number-label {
    font-weight: bold;
}

#survey-form {
    padding: 10px 30px;
}

p {
    font-weight: bold;
}

.submit {
    padding: 10px;
}

#submit {
    display: block;
    width: 100%;
    margin-top: 0.75rem;
    padding: 0.75rem;
    border-radius: 12px;
}